.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  text-decoration: none;
  height: 38px;


  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.navigation__toggle {
  background-color: $secondary-color;
  position: absolute;
  display: block;
  padding: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  top: 6px;
  right: 0;


  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
}

.navigation__toggle--open {
  mask-image: url("../../icons/stack.svg#button-open-mobile");
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
}

.navigation__toggle--close {
  mask-image: url("../../icons/stack.svg#button-close-mobile");
  mask-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: none;
}

.navigation__list {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    width: 475px;
  }
}

.navigation__list--open {
  background-color: $primary-bg;
  position: absolute;
  z-index: 2;
  top: 52px;
  left: -20px;
  width: 100vw;
}

.navigation__item {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.navigation__item--current {
  //
}

.navigation__link {
  text-decoration: none;
  display: block;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $black;
  cursor: pointer;
  padding: 22px 0 24px;
  text-align: center;


  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 0;
  }
}
