.product-description {
  //
}

.product-description__container {
  background-color: #cccccc;
}

.product-description__title {
  color: $black;
}

.product-description__list {
  list-style-type: none;
  padding: 0;
}

.product-description__item {
  //
}

.product-description__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color-text;
  text-align: center;
}

.product-description__item--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-size: contain;
  width: 25px;
  height: 28px;
}

.product-description__item--fast::before {
  background-image: url("../../icons/stack.svg#pulver");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-size: contain;
  width: 26px;
  height: 28px;
}

.product-description__item--functional::before {
  background-image: url("../../icons/stack.svg#eat");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-size: contain;
  width: 25px;
  height: 30px;
}

.product-description__item--productive::before {
  background-image: url("../../icons/stack.svg#clock");
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  background-size: contain;
  width: 26px;
  height: 31px;
}
