.addition {
  //
}

.addition__container {
  //
}

.addition__title {
  border-bottom: $secondary-border;
  padding-bottom: 36px;
}

.addition__list {
  list-style-type: none;
  padding: 0;
}

.addition__item {
  border-bottom: $secondary-border;
}

.addition__item-card {
  //
}
