.promo {
  display: flex;
  flex-wrap: wrap;
  background-color: #666464;
  padding: 59px 43px 60px;
}

.promo::before {
  background-image: url("../../icons/stack.svg#gift");
  content: "";
  width: 78px;
  height: 80px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 48px;
}

.promo__slogan {
  color: $white;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}
